In [101]:
import pandas as pd

In [108]:
df = pd.read_csv('train.csv')
del df['Cabin']

In [113]:
def title(x, titles):
    for title in titles:
        if title in x:
            return title
    return None

title_list = ['Mrs', 'Mr', 'Miss', 'Master']

df['Title'] = df['Name'].map(lambda x: title(x, title_list))
print(df.info())

def impute_Nones(x):
    if x['Title'] == None:
        if x['Sex'] == 'Male':
            return 'Mr'
        elif x['Sex'] == 'Female':
            if x['Age'] <= 23:
                return 'Miss'
            else:
                return 'Mrs'
    else:
        return x['Title']

df.apply(impute_Nones, axis=1)

#df['Title'].hist()
print(df.info())
for title in title_list:
    print(title, ': ', sum(df['Title'] == title))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
 11  Title        867 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
 11  Title        867 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
Mrs :  129
Mr :  518
Miss :  180
Master :  40